.row-fluid
  .col-sm-12
    %h2.header= t('view.in_out_status_title')
    = render 'users/items'
.row-fluid
  .col-sm-6
    / block
    .block
      %h2.header= t('view.checked_in_items')
      .block-content.collapse.in
        %table.table.table-striped
          %thead
            %tr
              %th
              %th= tt('Book.title')
              %th= tt('Item.area')
              %th= t('view.checked_in_date')
          %tbody
            - @items_checked_in.each do |item|
              %tr
                %td= link_to image_tag("#{item.small_image}" || TWITTER_IMAGE, width: BOOK_SMALL_IMAGE_WIDTH), book_path(item.isbn)
                %td= link_to item.title_vol, book_path(item.isbn)
                %td.nowrap= item.area_name
                %td= item.checked_in_at
    / /block
  .col-sm-6
    / block
    .block
      %h2.header= t('view.well_read_items')
      .block-content.collapse.in
        %table.table.table-striped
          %thead
            %tr
              %th
              %th= tt('Book.title')
              %th= tt('Book.author')
              %th.nowrap= t('view.amount')
          %tbody
            - @items_well_read.each do |item|
              %tr
                %td= link_to image_tag("#{item.small_image}" || TWITTER_IMAGE, width: BOOK_SMALL_IMAGE_WIDTH), book_path(item.isbn)
                %td= link_to item.title_vol, book_path(item.isbn)
                %td.division= item.author
                %td= item.count
    / /block
.row-fluid
  .col-sm-6
    / block
    .block
      %h2.header= t('view.owing_users')
      .block-content.collapse.in
        %table.table.table-striped
          %thead
            %tr
              %th= t('view.name_kanji')
              %th= tt('User.screen_name')
              %th= tt('User.division')
              %th= t('view.read_number')
          %tbody
            - @users_owing.each do |user|
              %tr
                %td= link_to image_tag("#{user.profile_image_url}" || TWITTER_IMAGE, width: USER_SMALL_IMAGE_WIDTH, class: "img-rounded") + " " + user.name_kanji, user_path(user.id)
                %td.nowrap= link_to view_format(user.screen_name), user_path(user.id)
                %td.nowrap= user.division
                %td= user.owing_count
    / /block
  .col-sm-6
    / block
    .block
      %h2.header= t('view.well_read_users')
      .block-content.collapse.in
        %table.table.table-striped
          %thead
            %tr
              %th= t('view.name_kanji')
              %th= tt('User.screen_name')
              %th= tt('User.division')
              %th= t('view.read_number')
          %tbody
            - @users_well_read_in_number.each do |user|
              %tr
                %td= link_to image_tag("#{user.profile_image_url}" || TWITTER_IMAGE, width: USER_SMALL_IMAGE_WIDTH, class: "img-rounded") + " " + user.name_kanji, user_path(user.id)
                %td.nowrap= link_to view_format(user.screen_name), user_path(user.id)
                %td.nowrap= user.division
                %td= user.read_count
    / /block
