.row
  .col-sm-12
    %h2.header
      %i.glyphicon.glyphicon-log-out
      = t('view.in_out_status_title')
    = render 'users/items'
.row
  .col-sm-6
    / block
    .block
      %h2.header
        %i.glyphicon.glyphicon-plus
        = t('view.added_items')
      .block-content.collapse.in
        - if @items_added.present?
          %table.table.table-striped
            %thead
              %tr
                %th
                %th= tt('Book.title')
                %th.nowrap.hidden-xs= tt('Book.publication_date')
                %th.nowrap.hidden-xs= tt('Book.created_at')
            %tbody
              - @items_added.each do |item|
                %tr
                  %td= link_to image_tag("#{item.small_image}" || TWITTER_IMAGE, width: BOOK_SMALL_IMAGE_WIDTH), book_path(item.isbn)
                  %td= link_to item.title_vol, book_path(item.isbn)
                  %td.hidden-xs= item.publication_date
                  %td.hidden-xs= item.created_at
        - else
          .jumbotron
            %p= t('view.book_empty_message')
    / /block
  .col-sm-6
    / block
    .block
      %h2.header
        %i.glyphicon.glyphicon-log-in
        = t('view.checked_in_items')
      .block-content.collapse.in
        - if @items_checked_in.present?
          %table.table.table-striped
            %thead
              %tr
                %th
                %th= tt('Book.title')
                %th.nowrap.hidden-xs= tt('Item.area')
                %th.nowrap.hidden-xs= t('view.checked_in_date')
            %tbody
              - @items_checked_in.each do |item|
                %tr
                  %td= link_to image_tag("#{item.small_image}" || TWITTER_IMAGE, width: BOOK_SMALL_IMAGE_WIDTH), book_path(item.isbn)
                  %td= link_to item.title_vol, book_path(item.isbn)
                  %td.hidden-xs= item.area_name
                  %td.hidden-xs= item.checked_in_at
        - else
          .jumbotron
            %p= t('view.book_empty_message')
    / /block
.row
  .col-sm-6
    / block
    .block
      %h2.header
        %i.glyphicon.glyphicon-book
        = t('view.well_read_items')
      .block-content.collapse.in
        - if @items_well_read.present?
          %table.table.table-striped
            %thead
              %tr
                %th
                %th= tt('Book.title')
                %th.hidden-xs= tt('Book.author')
                %th.nowrap= t('view.amount')
            %tbody
              - @items_well_read.each do |item|
                %tr
                  %td= link_to image_tag("#{item.small_image}" || TWITTER_IMAGE, width: BOOK_SMALL_IMAGE_WIDTH), book_path(item.isbn)
                  %td= link_to item.title_vol, book_path(item.isbn)
                  %td.hidden-xs= item.author
                  %td= item.count
        - else
          .jumbotron
            %p= t('view.book_empty_message')
    / /block
  .col-sm-6
    / block
    .block
      %h2.header
        %i.glyphicon.glyphicon-book
        = t('view.not_read_items')
      .block-content.collapse.in
        - if @items_not_read.present?
          %table.table.table-striped
            %thead
              %tr
                %th
                %th= tt('Book.title')
                %th.hidden-xs= tt('Book.author')
            %tbody
              - @items_not_read.each do |item|
                %tr
                  %td= link_to image_tag("#{item.small_image}" || TWITTER_IMAGE, width: BOOK_SMALL_IMAGE_WIDTH), book_path(item.isbn)
                  %td= link_to item.title_vol, book_path(item.isbn)
                  %td.hidden-xs= item.author
        - else
          .jumbotron
            %p= t('view.book_empty_message')
    / /block
.row
  .col-sm-6
    / block
    .block
      %h2.header
        %i.glyphicon.glyphicon-user
        = t('view.well_read_users')
      .block-content.collapse.in
        - if @users_well_read.present?
          %table.table.table-striped
            %thead
              %tr
                %th= t('view.name_kanji')
                %th.nowrap.hidden-xs= tt('User.division')
                %th.nowrap= t('view.read_number')
            %tbody
              - @users_well_read.each do |user|
                %tr
                  %td= link_to image_tag("#{user.profile_image_url}" || TWITTER_IMAGE, width: USER_SMALL_IMAGE_WIDTH, class: "img-rounded") + " " + user.name_kanji, user_path(user.id)
                  %td.hidden-xs= user.division
                  %td= user.read_count
        - else
          .jumbotron
            %p= t('view.user_empty_message')
    / /block
  .col-sm-6
    / block
    .block
      %h2.header
        %i.glyphicon.glyphicon-log-out
        = t('view.owing_users')
      .block-content.collapse.in
        - if @users_owing.present?
          %table.table.table-striped
            %thead
              %tr
                %th= t('view.name_kanji')
                %th.nowrap.hidden-xs= tt('User.screen_name')
                %th.nowrap.hidden-xs= tt('User.division')
                %th.nowrap= t('view.read_number')
            %tbody
              - @users_owing.each do |user|
                %tr
                  %td= link_to image_tag("#{user.profile_image_url}" || TWITTER_IMAGE, width: USER_SMALL_IMAGE_WIDTH, class: "img-rounded") + " " + user.name_kanji, user_path(user.id)
                  %td.hidden-xs= link_to view_format(user.screen_name), user_path(user.id)
                  %td.hidden-xs= user.division
                  %td= user.owing_count
        - else
          .jumbotron
            %p= t('view.user_empty_message')
    / /block
