<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @search_word.user %>
</p>

<p>
  <strong>Word:</strong>
  <%= @search_word.word %>
</p>

<%= link_to 'Edit', edit_search_word_path(@search_word) %> |
<%= link_to 'Back', search_words_path %>
