= simple_form_for @user, html: {class: 'form-horizontal'} do |f|
  - if @user.errors.any?
    .alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :last_name_kanji, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :last_name_kanji, class: 'form-control input-lg width-auto', placeholder: t('view.last_name_kanji_placeholder')
  .form-group
    = f.label :first_name_kanji, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :first_name_kanji, class: 'form-control input-lg width-auto', placeholder: t('view.first_name_kanji_placeholder')
  .form-group
    = f.label :last_name_hiragana, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :last_name_hiragana, class: 'form-control input-lg width-auto', placeholder: t('view.last_name_hiragana_placeholder')
  .form-group
    = f.label :first_name_hiragana, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :first_name_hiragana, class: 'form-control input-lg width-auto', placeholder: t('view.first_name_hiragana_placeholder')
  .form-group
    = f.label :last_name_roman, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :last_name_roman, class: 'form-control input-lg width-auto', placeholder: t('view.last_name_roman_placeholder')
  .form-group
    = f.label :first_name_roman, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :first_name_roman, class: 'form-control input-lg width-auto', placeholder: t('view.first_name_roman_placeholder')
  .form-group
    = f.label :screen_name, class: 'col-sm-2 control-label'
    .col-sm-10
      .input-group
        %span.input-group-addon @
        = f.text_field :screen_name, id: 'screen_name', class: 'form-control', placeholder: t('view.screen_name_placeholder')
  .form-group
    .col-sm-offset-2.col-sm-10
      = link_to t('view.get_twitter_image'), "javascript: void(0)", id: 'get_twitter_image', class: 'btn-inline btn btn-default'
  .form-group
    = f.label :image_url, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :image_url, id: 'image_url', class: 'form-control', placeholder: t('view.image_url_placeholder')
  .form-group
    = f.label :division, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select :division_id, Division.all, :id, :name, {}, {class: 'form-control'}
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :email, class: 'form-control'
  .form-group
    .center-horizontal= f.submit class: 'btn btn-primary'
