- if @items.empty?
  .inside= t('view.owed_book_empty_message')
- else
  #count_message.inside= t('view.owed_books_count_message', user: @current_user.last_name_kanji, count: @items.count)
  %table.table.table-hover
    %thead
      %tr
        %th
        %th= tt('Book.title')
        %th.hidden-xs= tt('Book.author')
        %th.hidden-xs= tt('Item.area')
        %th.hidden-xs= t('view.check_status')
        %th.hidden-xs= t('view.checked_out_date')
        %th.hidden-xs= t('view.due_date')
        %th.hidden-xs= t('view.checked_in_date')
        %th= t('view.operation')
    %tbody
      - @items.each do |item|
        %tr{item_id: "#{item.item_id}", class: "#{item.background_class}"}
          =render 'users/item', item: item
