<td><%= image_tag(item.small_image, width: BOOK_SMALL_IMAGE_WIDTH, class: 'img-thumbnail') %></td>
<td><%= item.title_vol %></td>
<td><%= item.author %></td>
<td><%= item.area_name %></td>
<td>
  <span class="check_status<% if !item.is_available? %> warning-color<% end %>">
  <%= item.check_status_view %>
  </span>
</td>
<td class="checked_out_at"><%= item.checked_out_at %></td>
<td class="due_date">
  <% if !item.is_available? && item.is_overdue %><span class="warning-color"><% end %>
  <%= item.due_date %>
  <% if !item.is_available? && item.is_overdue %></span><% end %>
</td>
<td class="checked_in_at"><%= item.checked_in_at %></td>
<td class="operation_link"><%= item.operation_link %></td>