<table class="table table-striped table-hover">
  <thead>
  <tr>
    <td></td>
    <td><%= tt('Book.title') %></td>
    <td><%= tt('Book.author') %></td>
    <td><%= tt('Item.area') %></td>
    <td><%= t('view.check_status') %></td>
    <td><%= t('view.checked_out_date') %></td>
    <td><%= t('view.due_date') %></td>
    <td><%= t('view.checked_in_date') %></td>
    <td><%= t('view.operation') %></td>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr item_id="<%= item.item_id %>" <%= item.background_class %>>
    <%= render 'item', item: item %>
    </tr>
  <% end %>
  </tbody>
</table>