<h2><%= t('view.users_index') %></h2>

<% if @users.empty? %>
  <div class="inside">あなたが最初に登録しましょう！</div>
<% else %>

  <p class="inside">たくさん本を借りて読み終えた人が上に表示されます。</p>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <td><%= t('view.name') %></td>
      <td><%= tt('User.screen_name') %></td>
      <td><%= tt('User.division') %></td>
      <td><%= t('view.operation') %></td>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to image_tag(user.image_url.presence || TWITTER_IMAGE, width: USER_IMAGE_WIDTH, class: "img-rounded"), user_path(user) %><br/>
            <%= link_to (user.last_name_kanji + " " + user.first_name_kanji), user_path(user), class: "name" %></td>
        <td><%= link_to user.screen_name.presence || t('view.nil'), user_path(user) %></td>
        <td><%= user.division.name %></td>
        <td><%= link_to t('view.edit'), edit_user_path(user), class: "btn btn-warning btn-lg" %> <%= link_to t('view.destroy'), user_path(user), method: :delete, class: "btn btn-danger btn-lg" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to t('view.user_new'), new_user_path %>
