<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Screen name</th>
      <th>Last name kanji</th>
      <th>First name kanji</th>
      <th>Last name hiragana</th>
      <th>First name hiragana</th>
      <th>Image url</th>
      <th>Division</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.screen_name %></td>
        <td><%= user.last_name_kanji %></td>
        <td><%= user.first_name_kanji %></td>
        <td><%= user.last_name_hiragana %></td>
        <td><%= user.first_name_hiragana %></td>
        <td><%= user.image_url %></td>
        <td><%= user.division.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
