%h2.header
  %i.glyphicon.glyphicon-user
  = "#{@user.last_name_kanji.html_safe} #{@user.first_name_kanji.html_safe}"
.row
  .col-md-2.row-thumb
    = link_to image_tag(@user.profile_image_url, width: USER_LARGE_IMAGE_WIDTH, class: 'img-thumbnail')
    .row-thumb
      = link_to t('view.edit'), edit_user_path(@user), class: 'btn btn-warning btn-primary'
  .col-md-10
    %table.table.row-table
      %tbody
        %tr
          %td= t('view.name_kanji')
          %td= view_format(@user.name_kanji)
        %tr
          %td= t('view.name_hiragana')
          %td= view_format(@user.name_hiragana)
        %tr
          %td= t('view.name_roman')
          %td= view_format(@user.name_roman)
        %tr
          %td= tt('User.screen_name')
          %td= view_format(@user.screen_name)
        %tr
          %td= tt('User.division')
          %td= @user.division.name
        %tr
          %td= tt('User.email')
          %td= view_format(@user.email)
%h2.header
  %i.glyphicon.glyphicon-log-out
  = t('view.in_out_status_title')
= render 'items'
