<%= simple_form_for(@browse) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :book %>
    <%= f.association :search_word %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
