tr =  $("tr[item_id='#{@item.item_id}']");
tr.hide();
tr.find(".check_status").removeClass('warning-color').text('貸出可');
tr.find(".user_image_url").attr('src', "#{@item.user_image_url}");
tr.find(".name_kanji").text("#{@item.name_kanji}");
tr.find(".checked_out_at").text("#{@item.checked_out_at}");
tr.find(".due_date").text("#{@item.due_date}");
tr.find(".checked_in_at").text("#{@item.checked_in_at}");
tr.find(".operation_link").html('<a class="btn btn-success" data-method="post" data-remote="true" href="/check_outs?item_id=#{@item.item_id}" rel="nofollow">借りる</a>');
tr.fadeIn(1000);
tr.removeClass('danger');

$("#count_message").fadeOut(1000);
