= simple_form_for @book, html: {class: 'form-horizontal'} do |f|
  - if @book.errors.any?
    .alert.alert-danger
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control input-lg', placeholder: t('view.last_name_kanji_placeholder')
  .form-group
    = f.label :author, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :author, class: 'form-control input-lg', placeholder: t('view.first_name_kanji_placeholder')
  .form-group
    = f.label :manufacturer, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :manufacturer, class: 'form-control input-lg', placeholder: t('view.last_name_hiragana_placeholder')
  .form-group
    = f.label :isbn, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :isbn, class: 'form-control input-lg width-auto', placeholder: t('view.image_url_placeholder')
  .form-group
    = f.label :asin, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :asin, class: 'form-control input-lg width-auto', placeholder: t('view.image_url_placeholder')
  .form-group
    = f.label :price, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :price, class: 'form-control input-lg width-auto', placeholder: t('view.image_url_placeholder')
  .form-group
    = f.label :currency, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :currency, class: 'form-control input-lg width-auto', placeholder: t('view.image_url_placeholder')
  .form-group
    = f.label :small_image, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :small_image, class: 'form-control', placeholder: t('view.image_url_placeholder')
  .form-group
    = f.label :medium_image, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :medium_image, class: 'form-control', placeholder: t('view.image_url_placeholder')
  .form-group
    = f.label :large_image, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :large_image, class: 'form-control', placeholder: t('view.image_url_placeholder')
  .form-group
    = f.label :category, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select :category, Category.all, :id, :name, {}, {class: 'form-control'}
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
