<td><%= item.volume %></td>
<td><%= item.area_name %></td>
<td><span class="label label-default <%= @book.category_class %>"><%= @book.category_view %></span></td>
<td class="check_status">
  <span class="check_status<% if !item.is_available? %> warning-color<% end %>">
  <%= item.check_status_view %>
  </span>
</td>
<td><% if item.user_id.present? %><%= image_tag item.user_image_url, width: USER_SMALL_IMAGE_WIDTH, class: "img-rounded user_image_url" %><% end %> <span class="name_kanji"><%= item.name_kanji %></span></td>
<td class="checked_out_at"><%= item.checked_out_at %></td>
<td class="due_date">
  <% if !item.is_available? && item.is_overdue %><span class="warning-color"><% end %>
  <%= item.due_date %>
  <% if !item.is_available? && item.is_overdue %></span><% end %>
</td>
<td class="checked_in_at"><%= item.checked_in_at %></td>
<td class="operation_link"><%= item.operation_link %></td>