%h2.header
  %i.glyphicon.glyphicon-book
  = @title
- if @books.empty?
  .inside
    %p= t('view.book_empty_message')
    %p= t('view.book_add_recommend_message')
- else
  %table.table.table-hover.books
    %thead
      %tr
        %td.book_medium_image
        %td= tt('Book.title')
        %td.hidden-xs= tt('Book.author')
        %td.hidden-xs= tt('Book.manufacturer')
        %td.hidden-xs= tt('Book.price')
        %td.hidden-xs= tt('Book.publication_date')
        %td.hidden-xs= tt('Book.category')
    %tbody
      - @books.each do |book|
        %tr{:book_isbn => book.isbn, :qid => @query_id}
          %td= image_tag(book.medium_image, width: BOOK_MEDIUM_IMAGE_WIDTH)
          %td.title
            %strong= view_format(book.title)
          %td.hidden-xs= view_format(book.author)
          %td.hidden-xs= view_format(book.manufacturer)
          %td.hidden-xs= book.price_formatted
          %td.hidden-xs= book.publication_date_formatted
          %td.hidden-xs
            %span{:class => "label label-default #{book.category_class}"}= book.category_view
