<h2><%= @title %></h2>
<% if @books.empty? %>
  <div class="inside">
    <fieldset>
      <p>本が１冊も見つかりません。</p>

      <p>もし、本の登録がまだ済んでいない場合は先に登録を行なってください。</p>
    </fieldset>
  </div>
<% else %>
  <table class="table table-hover books">
    <thead>
    <tr>
      <td></td>
      <td><%= tt('Book.title') %></td>
      <td><%= tt('Book.author') %></td>
      <td><%= tt('Book.manufacturer') %></td>
      <td><%= tt('Book.price') %></td>
      <td><%= tt('Book.publication_date') %></td >
      <td><%= tt('Book.category') %></td>
    </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr book_isbn="<%= book.isbn %>">
        <td><%= image_tag(book.medium_image, width: BOOK_SMALL_IMAGE_WIDTH, class: 'img-thumbnail') %></td>
        <td class="title"><strong><%= book.title.html_safe %></strong></td>
        <td><%= book.author.html_safe %></td>
        <td><%= book.manufacturer.html_safe %></td>
        <td><%= book.price_formatted %></td>
        <td><%= book.publication_date_formatted %></td>
        <td><span class="<%= book.category_class %>"><%= book.category_view %></span></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>