<%= form_for(@check_out) do |f| %>
  <% if @check_out.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_out.errors.count, "error") %> prohibited this check_out from being saved:</h2>

      <ul>
      <% @check_out.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
