.col-sm-offset-1
  %p= "現在 #{@count} 冊登録されています。"
= render 'books/book'
= simple_form_for @item, html: {class: 'form-horizontal'} do |f|
  = f.hidden_field :book_id, class: 'form-control input-lg width-auto'
  - if @item.errors.any?
    .alert.alert-danger
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :area, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select :area_id, Area.all, :id, :name, {}, {class: 'form-control'}
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
