<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @item.book %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @item.volume %>
</p>

<p>
  <strong>Area:</strong>
  <%= @item.area %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
