<% if @signed_in %>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= t('view.service_name') %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-link">
        <li><span class="hosts"><%= t('view.from_pc') %> <strong><%= ENV['hosts_shorten'] %></strong> <%= t('view.access') %></span></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= form_for(:book, url: books_path, html: {id: "book_search_form", class: "navbar-form navbar-left", role: "search", method: "get"}) do |f| %>
          <div class="form-group">
            <input type="text" name="q" class="form-control input-lg" placeholder="<%= t('view.search_placeholder')%>" value="<%= @key %>">
          </div>
          <button type="submit" class="btn btn-default btn-lg"><%= t('view.search_button') %></button>
        <% end %>
          <li class="dropdown">
            <a href="" class="dropdown-toggle login-user" data-toggle="dropdown"><%= image_tag (@current_user.profile_image_url), width: USER_SMALL_IMAGE_WIDTH, class: "img-rounded" %> <%= @current_user.last_name_kanji %> さん <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to user_path(@current_user) do %><i class="glyphicon glyphicon-book"></i> <%= t('view.history') %><% end %></li>
              <li><%= link_to edit_user_path(@current_user) do %><i class="glyphicon glyphicon-user"></i> <%= t('view.profile_edit') %><% end %></li>
              <li class="divider"></li>
              <li><a href="hondoko://scan/book"><i class="glyphicon glyphicon-barcode"></i> <%= t('view.scan_book') %></a></li>
              <li><a href="hondoko://scan/new_book"><i class="glyphicon glyphicon-plus"></i> <%= t('view.scan_new_book') %></a></li>
              <li class="divider"></li>
              <li><%= link_to logout_path, method: "delete" do %><i class="glyphicon glyphicon-log-out"></i> <%= t('view.logout') %><% end %></li>
            </ul>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="navbar-margin"></div>
<% end %>