!!!
%html
  %head
    = analytics_init if GA.tracker != GoogleAnalytics::PLACEHOLDER_TRACKER
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %title= t('view.service_name')
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag
  %body
    = render 'layouts/header'
    #main{:role => "main"}
      .container-fluid
        .content
          .row-fluid
            = render 'layouts/messages'
            = yield
    / ! end of #main
    = render 'layouts/footer'
    :javascript
      var width;
      width = (window.innerWidth ? window.innerWidth : $(window).width());
      if (width > 992) {
        skrollr.init();
      }
